.container {
    display: flex;
    justify-content: space-between;
    /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 500px;
  height: 400px;
  align-content: space-between; */
}